picture img {
  width: 100%;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

header {
  padding: 0 1rem;
}

body {
  color: var(--text-color);
  font-family: "Noto Serif", serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-family: "EB Garamond", serif;
  line-height: 1;
}

figure img {
  width: auto;
}

/* This is centering the main area */

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

figure {
  margin: 4rem 0;
}

footer {
  background-color: var(--main-color);
  color: rgb(141, 75, 247);
  font-family: "EB Garamond", serif;
  font-size: 2em;
  margin: 0 auto;
  max-width: 50rem;
  padding: 4rem 0 1rem;
}

footer p {
  width: 75%;
  text-align: center;
}

a:hover {
  background-position: 0 0;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  font-size: 30px;
  font-family: "EB Garamond", serif;
  background: rgb(0, 204, 255);
  display: inline-block;
  background: linear-gradient(
    to right,
    #f068de 0%,
    #f8b3b5 50%,
    #ffffff 50%,
    #ffffff 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s;
}

/* this is the start of the hero overlay and text */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero {
  position: relative;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent 70%);
}

.hero .text-group {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero h1 {
  font-family: "Noto Serif", serif;
  margin: 0;
  color: #fff;
  font-size: 4em;
}

.hero p {
  font-family: "Noto Serif", serif;
  color: #fff;
  font-size: 1.8rem;
}

/* card styles */

.cards {
  display: flex;
  gap: 1rem;
  margin: 12rem 1.5rem 0 1.5rem;
}

.card {
  position: relative;
  align-items: center;
}
.card .overlay {
  color: #fcfcfc;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.8rem;
  line-height: 1.1;
  padding: 20% 1rem 0;
  margin: 0;
  opacity: 0;
  transition: opacity 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .overlay {
  opacity: 1;
}

/* form styles */
.form img {
  width: 400px;
}

/* Loader style */

.loader {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  border: 16px solid rgba(0, 0, 0, 0.4);
  border-left: 16px solid #e99f9f;
  animation: load 900ms infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
